/*style.css */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	background-color: #f09711;
	color: #222;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
  }
  .title {
	color: #141212;
	font-size: 1.5rem;
	text-align: center;
  }
  .temperature-converter {
	background: #5c1219;
	border-radius: 5px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 25px 20px;
	min-width: 320px;
	width: 100%;
	height: auto;
  }
  .result {
	text-align: center;
	margin: 20px 0;
  }
  .result-heading {
	color: #010101;
	font-size: 1rem;
	font-weight: 600;
  }
  .celsius-value {
	border-bottom: 2px solid #d1cbcb;
	padding: 10px;
  }
  label {
	color: #060606;
	font-size: 0.8rem;
	margin-bottom: 5px;
  }
  input,
  select {
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid #ccc;
	padding: 8px;
	margin-bottom: 15px;
  }
  input:focus {
	border: 1px solid #6173d8;
  }
  .degree-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
  }
  .degree-field {
	display: flex;
	flex-direction: column;
	width: 46%;
  }
  option {
	background-color: #976bf0;
	color: #f6f6f6;
  }
  #convert-btn {
	background: linear-gradient(to bottom, #25d8c9, #2a7697);
	border: none;
	outline: none;
	border-radius: 5px;
	color: #f6f6f6;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 10px;
	padding: 12px 80px;
	transition: all 0.3s ease-in;
  }
  #convert-btn:hover {
	background: linear-gradient(to bottom, #8b7dde, #638eec);
  }
  /* header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 5rem 9%;
	z-index: 100;
  }
  .header.active {
	background-color: var(--white);
	padding: 3rem 9%;
  }
  .header.active .navbar a {
	color: var(--dark-bg);
  }
  .header.active .navbar a:hover {
	color: var(--yellow);
  }
  .header.active .menu {
	color: var(--dark-bg);
  }
  .header .navbar {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .header .navbar a {
	font-size: 1.5rem;
	color: var(--white);
	padding: 0 2rem;
	letter-spacing: 0.3rem;
	font-weight: 300;
	text-transform: uppercase;
  }
  .header .menu {
	font-size: 2.5rem;
	color: var(--white);
	cursor: pointer;
	text-align: left;
	display: none;
  }
  /* header */